/* General Styles */
body {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/lyrics.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

h1 {
    margin-bottom: 3vw;
    color: #30435f;
    transition: margin-bottom 0.3s ease;
    font-size: 5rem;


}

.text-input {
    background-color: #b0bec5;
    color: #333;
    border-radius: 1vw;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 30px;
    width: 20vw;
    border-radius: 1vw;
    transition: border-width 0.3s ease;
    font-size: 20px;
}

.container {
    width: 80%;
}

.eng-to-btn,
.morse-to-btn {
    background-color: #455a64;
    color: #fff;
    border-radius: 1vw;
    transition: margin-left 0.3s ease, border-width 0.3s ease;

    height: 35px;
    font-size: 25px;
}

/* Input Containers */
#morse-output,
#eng-output {
    margin: 2vw;
    padding: 2vw;
    background-color: #eceff1;
    border-radius: 2vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
    transition: margin 0.3s ease, padding 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    font-size: 30px;
}

/* Input Fields */
#morseField,
#engField {
    height: 30px;
    width: 20vw;
    border-radius: 1vw;
    transition: border-width 0.3s ease;
    flex-grow: 1;
    font-size: 20px;
}

.eng-to-morse-input,
.morse-to-eng-input {
    margin-top: 2vw;
    padding: 1vw;
    background-color: #78909c;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    transition: margin-top 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
  
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Input and Output Display */
.morse-display,
.eng-display {
    margin-top: 2vw;
    padding: 1vw;
    background-color: #78909c;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    transition: margin-top 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
    position: relative; 
}

.hide {
    display: none;
}

#refreshBtnMorse,
#refreshBtnEng {
    height: 50px;
    width: 50px;
    border: none;
    background: none;

    color: #38454c;
   
}


/* Morse and English Output */
#morse-output,
#eng-output {
    font-size: 1.2em;
}

#checkMorse,
#checkEng {
    position: absolute;
    bottom: 5px; 
    right: 5px; 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: green;
}

/* Copy */
#copyBtnMorse,
#copyBtnEng { 
    position: absolute;
    bottom: 4px; 
    right: 3px; 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #38454c;
}

/* Hover Effects */
.eng-to-btn:hover,
.morse-to-btn:hover {
    background-color: #546e7a;

}

.text-input:hover {
    border: 0.1vw solid #333;
}

.eng-to-btn,
.morse-to-btn,
.text-input {
    cursor: pointer;
    border: 0.1vw solid transparent;
}



